<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE> 
    </HEAD>
    <BODY>
        {% if id %}
            {% if 'State.'+id|string in states %}
                {% for v in states.values() %}
                        {% if id == v.id %}
                            <H1>State: {{ v.name }}</H1>
                            <H3>Cities:</H3>
                                <UL>
                                    {% for value in cities.values()|sort(attribute='name') %}
                                        {% if value.state_id == v.id %}
                                            <LI>{{ value.id }}: <B>{{ value.name }}</B></LI>
                                        {% endif %}
                                    {% endfor %}
                                </UL>
                        {% endif %}
                {% endfor %}
            {% else %} 
                <h1>Not found!</h1>
            {% endif %}
        {% else %}
        <H1>States</H1>
        <UL>
            {% for v in states.values()|sort(attribute='name') %}
            <LI>{{ v.id }}: <B>{{ v.name }} </B></LI>
            {% endfor %}
        </UL>
        {% endif %}
    </BODY>
</HTML>
